.post-body {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(124, 124, 124);
}

.post {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.post-madeBy {
  align-self: center;
  font-size: 12px;
}

.post-title {
  margin-top: 30px;
  width: 80%;
  align-self: center;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.post-text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
}

.post-likes {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.post-like {
  background-image: url(../../img/likeEmpty.png);
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
}

.post-like:hover {
  transition: all 0.2s ease;
  background-image: url(../../img/like.png);
}

.post-comments {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 900px) {
  .post-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .post-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .post-title {
    font-size: 20px;
  }
  .post-text {
    font-size: 8px;
  }
  .post-likes {
    font-size: 10px;
    width: 35px;
  }
  .post-like {
    width: 10px;
    height: 10px;
  }
}
